<div class="jumbotron">

  <h1>My Wallet</h1>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input id="wallet-input" type="text" class="form-control" ng-model="newTransaction"
               ng-currency="true" min="0" select-on-focus>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!newTransaction" ng-click="addMoney(newTransaction)">Put In</button>
    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!newTransaction" ng-click="removeMoney(newTransaction)">Take Out</button>
  </form>

</div>

<div class="transactions">
  <h4>Transactions:</h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-left">Time</th>
        <th class="text-right">In</th>
        <th class="text-right">Out</th>
        <th class="text-right">Running Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td class="text-right" colspan="4">Total:</td>
        <td class="text-right" ng-bind="total | currency"></td>
      </tr>
    </tfoot>

    <tbody>
      <tr ng-repeat="transaction in transactions">
        <td class="text-center" ng-bind="::transaction.id"></td>
        <td class="text-left" ng-bind="::transaction.date | date:'yyyy-MM-dd HH:mm:ss'"></td>

        <td class="text-right" ng-if="transaction.in" ng-bind="::transaction.in | currency"></td>
        <td class="text-right" ng-if="!transaction.in">-</td>

        <td class="text-right" ng-if="transaction.out" ng-bind="::transaction.out | currency"></td>
        <td class="text-right" ng-if="!transaction.out">-</td>

        <td class="text-right" ng-bind="::transaction.runningTotal | currency"></td>
      </tr>

      <tr>
        <td colspan="5" ng-if="!transactions.length">---</td>
      </tr>

    </tbody>
  </table>

</div>
