<div class="jumbotron">

  <h1>My Wallet</h1>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" ng-model="newTransaction"
               ng-currency="true" min="0">
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!newTransaction">Put In</button>
    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!newTransaction">Take Out</button>
  </form>

</div>

<div class="transactions">
  <h4>Transactions:</h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Time</th>
        <th>In</th>
        <th>Out</th>
        <th class="text-right">Running Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td class="text-center" colspan="4">Total:</td>
        <td ng-bind="total"></td>
      </tr>
    </tfoot>

    <tbody>
      <tr ng-repeat="transaction in transactions">
        <td ng-bind="::transaction.id"></td>
        <td ng-bind="::transaction.time"></td>
        <td ng-bind="::transaction.in"></td>
        <td ng-bind="::transaction.out"></td>
        <td ng-bind="::transaction.runningTotal"></td>
      </tr>

      <tr>
        <td colspan="5" ng-if="!transactions.length">---</td>
      </tr>

    </tbody>
  </table>

</div>
